<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css[0]%>"/>
</head>
<body ng-controller="appCtrl">
<wt-app-target-map ng-model="data"></wt-app-target-map>
<script src="<%= htmlWebpackPlugin.files.chunks.app.entry%>"></script>
</body>
</html>