<div class="target-map-wrap" ng-style="{width:$ctrl.map.containerWidth}">
    <div class="target-map-body" ng-style="{width:$ctrl.map.bodyWidth}">
        <div class="target-map-content" style="transform: scale({{$ctrl.scale}});width:{{$ctrl.map.contentWidth}}px">
            <div ng-click="$ctrl.nodeClick($event,node)"
                 class="target-wrap pbox-trigger"
                 ng-repeat="node in $ctrl.nodes track by $index" style="top:{{node.top}}px;left:{{node.left}}px;">
                <div class="target-content">
                    <div class="target-body">
                        <lc-avatar member="node.director" size="24"></lc-avatar>
                        <div class="target-main">
                            <div class="title" title="{{node.name}}">
                                {{node.title}}
                            </div>

                            <div class="aside" stop-propagation="">
                                <!--{{'okr.OBJECTIVE_TYPE' | translate}}：{{node.typeDesc}}-->
                                <i ng-if="node.childrenSize && node.childrenSize > 0 && node.expand === false" ng-click="$ctrl.expandNode(node)" class="wtf wtf-expand">+</i>
                                <i ng-if="node.childrenSize && node.childrenSize > 0 && node.expand === true" ng-click="$ctrl.collapseNode(node)" class="wtf wtf-collapse">-</i>
                            </div>
                        </div>
                    </div>
                    <div class="target-footer">
                        <div class="progress-container">
                            <div class="progress">
                                <div class="progress-bar" style="width: {{node.overall_progress}}%"></div>
                            </div>
                            <!--<uib-progressbar value="node.overall_progress*100"></uib-progressbar>-->
                        </div>
                        <div class="number">{{node.overall_progress}}%</div>
                    </div>
                </div>
            </div>
            <svg ng-attr-height="{{$ctrl.map.height}}" ng-attr-width="{{$ctrl.map.width}}" class="target-svg">
                <g ng-repeat="node in $ctrl.nodes track by $index">
                    <path ng-if="node.path" ng-attr-d="{{node.path}}" class="line"></path>
                </g>
            </svg>
        </div>
    </div>
</div>